<div class="backgroundp" >


  <form action="" class="form_flex">

    <div class="item-flex1">


      <h1>Register</h1>


    </div>

    <div class="item-flex2">


      <label for="fname">User</label><br>
      <input type="text" id="fname" name="fname"><br>
      <label for="fname">Name</label><br>
      <input type="text" id="fname" name="fname"><br>
      <label for="fname">Last Name</label><br>
      <input type="text" id="fname" name="fname"><br>
      <label for="fname">Email</label><br>
      <input type="text" id="fname" name="fname"><br>
      <label for="lname">Password</label><br>
      <input type="password" id="lname" name="lname"><br>


    </div>

    <div class="item-flex3">
      

      <button type="button" class="bt_SingUp">Sing Up</button>

      
    </div>

    <div class="item-flex4">
      
      <label class="r_mensaje">I already have an account</label>
      <a class="Log-link" routerLink="/login">Login</a>
      
    </div>

    

  </form>


</div>
<a>