
<div class="backgroundp">


  <form class="L_form_flex" >


    <div class="L_item-flex1">


      <h1>Login</h1>


    </div>


      <div class="L_item-flex2">


        <label for="fname">User</label>
        <input type="text" id="fname" name="fname">
        <label for="lname"> Password</label>
        <input type="text" id="lname" name="lname">


      </div>



      <div class="L_item-flex3">


        <button type="button" class="bt_SingIn">Sing In</button>


      </div>

      <div class="L_item-flex4">


        <label class="Mensaje">I don't have an account</label><br>
        <a class="Reg-link" routerLink="/register">Register</a>


      </div>


    </form>
 

</div>

